# Uvod v pandas
 Tu dobtri lahko uporabljam _Markdown_

In [2]:
import pandas as pd

In [14]:
knjige = pd.read_csv('obdelani-podatki/knjige.csv')

In [15]:
knjige

,naslov,avtor,ocena,vse_ocene,kon_ocena,vsi_glasovi
0,The Hunger Games,Suzanne Collins,4.33,"6,370,017",2.991.845,30496
1,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,"2,504,487",2.630.762,26908
2,To Kill a Mockingbird,Harper Lee,4.28,"4,495,640",2.267.440,23308
3,Pride and Prejudice,Jane Austen,4.26,"2,994,101",1.980.034,20421
4,Twilight,Stephenie Meyer,3.60,"4,959,289",1.458.877,14868
...,...,...,...,...,...,...
595,The Goldfinch,Donna Tartt,3.92,"718,874",14.278,168
596,All the King&#39;s Men,Robert Penn Warren,4.07,"57,986",14.192,197
597,Julius Caesar,William Shakespeare,3.69,"168,621",14.148,230
598,Lover Eternal,J.R. Ward,4.34,"172,904",14.062,179
599,Finding Hope in the Darkness of Grief: Spiritu...,Diamante Lavendar,4.33,"5,292",14.021,157

In [22]:
knjige[knjige.ocena >= 4.5]

,naslov,avtor,ocena,vse_ocene,kon_ocena,vsi_glasovi
1,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,"2,504,487",2.630.762,26908
8,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.60,"110,047",1.157.829,12091
71,Harry Potter and the Deathly Hallows,J.K. Rowling,4.62,"2,807,622",350.761,3829
93,Harry Potter and the Prisoner of Azkaban,J.K. Rowling,4.57,"2,802,396",247.193,2764
102,Harry Potter and the Goblet of Fire,J.K. Rowling,4.56,"2,591,361",179.291,2053
105,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,"2,434,670",162.801,1889
110,The Name of the Wind,Patrick Rothfuss,4.53,"714,354",150.539,1597
142,The Last Olympian,Rick Riordan,4.51,"666,982",116.216,1337
172,Clockwork Princess,Cassandra Clare,4.57,"336,466",86.774,971
194,A Storm of Swords,George R.R. Martin,4.54,"665,502",73.892,855
256,The Complete Calvin and Hobbes,Bill Watterson,4.82,"34,868",50.709,632
295,The Complete Works,William Shakespeare,4.50,"50,158",42.931,558
308,The Wise Man&#39;s Fear,Patrick Rothfuss,4.56,"426,979",40.195,443
324,A Court of Mist and Fury,Sarah J. Maas,4.62,"331,136",36.042,389
338,The Lord of the Rings,J.R.R. Tolkien,4.50,"564,004",34.125,409
345,The Way of Kings,Brandon Sanderson,4.63,"301,984",33.834,357
356,The Complete Novels,Jane Austen,4.56,"29,689",32.890,442
369,انتحار فاشل,أحمد جمال الدين رمضان,4.51,"2,261",31.046,318
374,The Complete Maus,Art Spiegelman,4.55,"137,290",30.521,396
378,العصبي,أحمد جمال الدين رمضان,4.52,"1,944",29.592,304
409,Harry Potter Series Box Set,J.K. Rowling,4.73,"251,459",26.706,323
450,The House of Hades,Rick Riordan,4.54,"261,472",22.380,280
523,The Mortal Instruments Boxed Set: City of Bone...,Cassandra Clare,4.56,"64,911",17.009,216
541,Acheron,Sherrilyn Kenyon,4.57,"54,421",16.205,188
550,The Return of the King,J.R.R. Tolkien,4.53,"677,832",15.851,218
578,Queen of Shadows,Sarah J. Maas,4.55,"241,044",14.897,172

In [23]:
knjige.max()

naslov         زندگی مه آلود پریا
avtor            سید مرتضی مصطفوی
ocena                        4.82
vse_ocene                  99,131
kon_ocena                 980.557
vsi_glasovi                 30496
dtype: object

In [19]:
knjige.sort_values('vsi_glasovi')

,naslov,avtor,ocena,vse_ocene,kon_ocena,vsi_glasovi
599,Finding Hope in the Darkness of Grief: Spiritu...,Diamante Lavendar,4.33,"5,292",14.021,157
562,Being and Time,Martin Heidegger,4.03,"20,097",15.553,159
594,We Were Liars,E. Lockhart,3.83,"463,586",14.288,161
582,Slammed,Colleen Hoover,4.26,"209,237",14.733,167
595,The Goldfinch,Donna Tartt,3.92,"718,874",14.278,168
...,...,...,...,...,...,...
4,Twilight,Stephenie Meyer,3.60,"4,959,289",1.458.877,14868
3,Pride and Prejudice,Jane Austen,4.26,"2,994,101",1.980.034,20421
2,To Kill a Mockingbird,Harper Lee,4.28,"4,495,640",2.267.440,23308
1,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,"2,504,487",2.630.762,26908
0,The Hunger Games,Suzanne Collins,4.33,"6,370,017",2.991.845,30496

In [39]:
knjige.groupby('vsi_glasovi').size()

vsi_glasovi
157      1
159      1
161      1
167      1
168      1
        ..
14868    1
20421    1
23308    1
26908    1
30496    1
Length: 472, dtype: int64

In [36]:
knjige.groupby('avtor').size()

avtor
A.A. Milne               1
Abraham   Verghese       1
Agatha Christie          2
Alan Moore               2
Alan Paton               1
                        ..
Wilson Rawls             1
Yann Martel              1
Zora Neale Hurston       1
أحمد جمال الدين رمضان    2
سید مرتضی مصطفوی         1
Length: 386, dtype: int64

In [32]:
knjige.groupby('ocena').mean()

       vsi_glasovi
ocena
3.41        1597.0
3.43        1090.0
3.45         459.0
3.48         318.0
3.50         983.0
...            ...
4.60       12091.0
4.62        2109.0
4.63         357.0
4.73         323.0
4.82         632.0

[107 rows x 1 columns]

neki.plot(x='kaj nej nariše', y='neki')